<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Category Name</mat-label>
      <input matInput placeholder="Ex. Pizza" value="b">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <mat-label>GST</mat-label>
        <input type="number" matInput placeholder="Ex. Pizza" value="1">
      </mat-form-field>

      <section>
        <div class="example-label"></div>
        <div class="example-button-row">
          <button mat-flat-button color="primary" (click)="createCat()">Submit</button>
        </div>
      </section>
  </form>
